@page
@model dotNet_Exam.Models.DepartmentModel

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="container">
        <form action="/Department/Edit" method="post">
            @Html.AntiForgeryToken()
                        @Html.HiddenFor(dep => dep.id)
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(dep => dep.name, new {@class = "form-control", @id = "name"})
                            <label for="name">Product name</label>
                        </div>
                        <p class="text-danger">
                            @Html.ValidationMessageFor(dep => dep.name)
                        </p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>